.part TABLE {
	border-collapse: collapse;
}

.part TD {
	width: 20px;
	height: 20px;
	border: 1px solid #ddd;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.part TD.on {
	background-color: #ff0000;
}

.part TD:hover {
	background-color: #eee;
}

.part TD.on:hover {
	background-color: #ff8888;
}