
@baseColor: #8abd52;
@accentColor: #eee;
@errorColor: red;
@margin: 10px;
@radius: 6px;
@masterWidth: 980px;
@contentWidth: @masterWidth - (2 * @margin);

.box-shadow (@x, @y, @blur, @alpha) {
  @value: @x @y @blur rgba(0, 0, 0, @alpha);
  box-shadow:         @value;
  -moz-box-shadow:    @value;
  -webkit-box-shadow: @value;
}

BODY {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0 @margin;
}

#outer {
	width: @masterWidth;
	margin: 0 auto;
  overflow: hidden;
}

H1, H2, H3 {
	margin: 0;
}

H1 {
	background-color: @baseColor;
	font-size: 29px;
	padding: @margin;
	A {
		color: white;
		text-decoration: none;
	}
	border-radius: 0 0 @radius @radius;
	.box-shadow(0, 0, 8px, 0.2);
}

BUTTON {
	background-color: white;
	border: 2px solid @baseColor;
	border-radius: 3px;
	font-size: inherit;
	padding: 2px 10px;
	cursor: pointer;
	&:hover {
		background-color: lighten(@baseColor, 40%);
	}
}

#authentication {
	float: right;
	text-align: right;
	margin: @margin;
	color: white;
	font-size: 14px;
	UL {
		overflow: hidden;
		margin: 0;
		list-style-type: none;
	}
	LI {
		float: left;
		margin-left: @margin;
		A {
			color: white;
		}
	}
}

#all {
	margin: @margin;
	margin-top: 0;
  overflow: hidden;
}

UL.errors {
	background-color: @errorColor;
	color: white;
	padding: @margin;
	border-radius: 5px;
	LI {
		margin-left: 20px;
	}
}

.part {
	float: left;
	border: 1px solid #dddddd;
	padding: @margin;
	TABLE {
		border-collapse: collapse;
		TD {
			width: 22px;
			height: 22px;
			&.label {
				width: 30px;
				IMG {
					position: relative;
					top: 2px;
				}
			}
			&.current {
				background-color: @accentColor;
			}
			&.toggleable {
				border: 1px solid #ddd;
				margin: 0;
				padding: 0;
				cursor: pointer;
				&:hover { background-color: #ddd; }
			}
			&.on {
				background-color: darken(@baseColor, 15%);
				&:hover { background-color: @baseColor; }
			}
		}
	}
}

#jam {
	.controls {
    background-color: @accentColor;
    padding: 4px 5px;
		margin-bottom: @margin;
		border-radius: 0 0 @radius @radius;
	}
	.editor {
		float: left;
		width: 603px;
	}
	.chat {
		float: left;
		width: @contentWidth - 603px - @margin;
		margin-left: 10px;
		.received {
			border: 1px solid @accentColor;
			height: 300px;
			overflow: scroll-y;
		}
	}
}

UL.instruments {
	float: left;
	width: 180px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	LI {
		display: block;
		padding: @margin 5px;
		background: @accentColor;
		text-align: right;
		margin: 5px 0px;
		font-weight: bold;
		cursor: pointer;
		border-radius: @radius 0px 0px @radius;
		border: 2px solid @accentColor;
		border-right: 0;
		&:hover { border-color: @baseColor }
		&.current {
			background-color: @baseColor;
			color: white;
		}
	}
}


.modalCurtain {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: black;
	opacity: 0.6;
	z-index: 100;
}

.modalContainer {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 40%;
	height: 30%;
	border: 10px solid @baseColor;
	background-color: white;
	padding: @margin;
	margin: auto;
	z-index: 101;
	border-radius: @radius;
	.box-shadow(0, 0, 15px, 0.4);
  &.error {
    border-color: @errorColor;
  }
	P {
		font-size: 18px;
	}
}