#jam
#social
script(src='/js/lib/jquery.cookie.js')
script(src='/js/lib/underscore.js')
script(src='/js/lib/backbone.js')
script(src='/js/lib/soundmanager2-jsmin.js')
script(src='/socket.io/socket.io.js')
script(src='/js/jam.js')
