!!! 5
html(lang="en")
  head
    title JamGrid
    script(src='/js/lib/jquery.js')
    script(src='/js/lib/underscore.js')
    script(src='/js/lib/backbone.js')
    script(src='/js/jam.js')
    link(href='/css/main.css',rel='stylesheet',type='text/css')
  body
    #outer
      #authentication
        - if (everyauth.loggedIn)
          .greeting Hello, #{user.login}!
          ul
            li: a(href="/logout") Log Out
        - else
          .greeting Why not join us?
          ul
            li: a(href='/register') Sign Up
            li: a(href='/login') Log In
      h1: a(href='/') jamgrid
      #all
        != body