p Welcome to JamGrid! This thing barely works at the moment.
- if (everyauth.loggedIn)
  - if (jams.length)
    p Your existing jams:
    ul
      - jams.forEach(function(jam) {
        li: a(href='/jam/#{jam.id}')= jam.id
      - })
  p: a(href='/jam/new') Start a new jam
- else
  p Please log in!
