BODY {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
}

H1, H2, H3 {
	margin: 0;
}

H1 {
	background-color: #8ABD52;
	font-size: 29px;
	padding: 10px;
}

H1 A {
	color: white;
	text-decoration: none;
}

#authentication {
	float: right;
	text-align: right;
	margin: 10px;
	color: white;
	font-size: 14px;
}

#authentication UL {
	overflow: hidden;
	margin: 0;
	list-style-type: none;
}

#authentication LI {
	float: left;
	margin-left: 10px;
}

#authentication LI A {
	color: white;
}

#all {
	margin: 10px;
}

UL.errors {
	background-color: red;
	color: white;
	padding: 10px;
	border-radius: 5px;
}

UL.errors LI {
	margin-left: 20px;
}

.part TABLE {
	border-collapse: collapse;
}

.part TD {
	width: 20px;
	height: 20px;
}

.part TD.label {
	padding-right: 20px;
	font-weight:bold;
	padding-left: 20px;
}

.part TD.current {
	background-color: #eef;
}

.part TD.on {
	background-color: #ff0000;
}

.part TD.toggleable {	
	border: 1px solid #ddd;
	margin: 0;
	padding: 0;
	cursor: pointer;	
}
.part TD.toggleable:hover {
	background-color: #ddd;
}

.part TD.on:hover {
	background-color: #ff8888;
}

.part TD.label {
	width: 80px;
	text-align: right;
}

#jam {
	width: 700px; /* This is not forever */
}

UL.instruments {
	float: left;
	width: 150px;
	list-style-type: none;
	margin: 0;
}

UL.instruments LI {
	display: block;
	padding: 10px 5px;
	background: #eee;
	text-align: right;
	margin: 5px 0px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px 0px 0px 5px;
}

DIV.part {
	float: left;
	border: 1px solid #dddddd;
	padding: 10px;
}